html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.9rem !important;
  }


#header {
    background-image: url("img/1\ _6EdJgpcWyeWne36eFH7eA@2x.jpeg");
    background-repeat:no-repeat;
    background-size: 100% auto;
    background-position:center;
}

#header-top { background-color: rgba(225, 255, 255, 0.6); }

#search {
    padding-top: 55px;
    height: 165px;
}

#small-header { height: 50px; }

.map {
    height: 300px;
}

#main2 {
    margin: 20px 0px;
}

#signin, #register { margin-top: 50px; }

.card {
    border: 0;
    border-radius: initial;
    width: auto !important;
}

.card-img-top { border-radius: initial; }

.card-body { padding: 1.25rem 0;  }

#footer { padding: 30px 0px; }

.modal2 
{ 
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1; 
    top:0px; 
    left: 0px;
    overflow-y: scroll;
    display: none;
}

.modal2-body 
{
    background-color: white;
    padding: 30px;
}

#details-container
{
    margin: 30px 0px;
}