<!DOCTYPE html>
<html>

<head>
	<title>Removing Markers</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="index.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBN0QqBtBgU2D2X_07U_fphqZXZDLpvyk&libraries=places"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="mapTest.controller.js"></script>
	<script src="mapTestDirective.js"></script>
</head>

<body ng-app="mapTestApp">
	<div class="container-fluid" ng-controller="mapTestController" ng-cloak>
		<div class="row">
			<div class="col-6">
				<h1>{{appName}}</h1>
				<form>
					<div class="form-group">
						<label for="inputAddress">Address</label>
						<input type="text" class="form-control" id="inputAddress" ng-model="location.address1" placeholder="1234 Main St">
					</div>
					<div class="form-group">
						<label for="inputAddress2">Address 2</label>
						<input type="text" class="form-control" id="inputAddress2"
							placeholder="Apartment, studio, or floor">
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputCity">City</label>
							<input type="text" class="form-control" id="inputCity" ng-model="location.city">
						</div>
						<div class="form-group col-md-4">
							<label for="inputState">State</label>
							<input type="text" class="form-control" id="inputState" ng-model="location.state">
						</div>
						<div class="form-group col-md-2">
							<label for="inputZip">Zip</label>
							<input type="text" class="form-control" id="inputZip" ng-model="location.zipCode">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="lat">Latitude</label>
							<input type="number" class="form-control" id="lat" ng-disable="{{true}}" ng-model="location.lat" placeholder="37.7829541689092">
						</div>
						<div class="form-group col-md-6">
							<label for="lng">Longitude</label>
							<input type="number" class="form-control" id="lng" ng-disable="{{true}}" ng-model="location.lng" placeholder="-122.42737474060061">
						</div>
					</div>
				</form>
			</div>
			<div class="col-6">
				<ng-map title="map title" ng-model="location" on-change="onMapChange" autocomplete="#inputAddress"></ng-map>
			</div>
		</div>
	</div>
</body>

</html>